# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.user
*.1pre1
*.0898310

Makefile
Makefile.Debug
Makefile.Release

Particule.pro.user.4eb275c

*.exe

build-Particule-test-Debug
